<h2>Join A Game Room</h2>
<%= form_tag new_room_path, :class => 'form', :method=> 'get' do %>
  <%=label :room, :id, 'Room ID', :class => 'col-form-label' %>
  <%= text_field_tag 'id', nil  %>
  <%= submit_tag 'Join Room', :class => 'btn btn-primary' %>
  <!--  TODO: Add link to home for cancelling addition -->
<% end %>