<h2>Welcome To <%= @room.name %></h2>
<h3>To have someone join this room, have them enter the following room code: <%= @room.room_code %></h3>
<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>