<h2>All Piles</h2>
<div class="w3-panel" id="show-pile-panel">
  <table class="cardsTable dataTable" id="card-table">
    <% @piles.each do |pile| %>
      <tr id=<%="#{pile.id}"%> style="display:none;">
        <% Card.where(pile_id: pile.id).each do |card| %>
          <td>
            <% if pile.private_pile %>
              <p style="font-size:128px;">&#x1F0F4;</p>
            <% else %>
              <p style="font-size:128px;">&#x<%= card.unicode_value %>;</p>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
</br>
<table class="table table-striped col-md-12">
  <tbody>
  <% @piles.each do |pile| %>
    <tr>
      <td>
        <%= button_tag "#{pile.name}", type: "button", onclick: "show_pile(#{pile.id})"%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
 <script>
     function show_pile(id){
         let arr = document.querySelectorAll(".cardsTable tr")
         for(let i=0; i<arr.length; i++){
             arr.item(i).style.display = "none"
         }
         id = parseInt(id)
         document.getElementById(id).style.display = "block"
     }
 </script>