<h2>All Piles</h2>
<div class="w3-panel" id="show-pile-panel">
  <table class="cardsTable dataTable" id="card-table">
    <% @piles.each do |pile| %>
      <tr id=<%="#{pile.id}"%> style="display:none;">
        <% Card.where(pile_id: pile.id).each do |card| %>
          <td>
            <% if pile.private_pile %>
              <%= "#{card.id}" %>
            <% else %>
              <%= "#{card.serializable_hash}" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<table class="table table-striped col-md-12">
  <tbody>
  <% @piles.each do |pile| %>
    <tr>
      <td>
        <%= button_tag "#{pile.serializable_hash}", type: "button", onclick: "show_pile(#{pile.id})"%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
