<div id='game-room'>
  <%= render partial: 'show_game_room' %>
</div>
<script>
    subscribe_to_room(<%= @room.id %>)
    jQuery(TransferCardsPopup.setup);
    jQuery(DrawsPopup.setup);
    jQuery(DiscardCardsPopup.setup);
    jQuery(CreatePilesPopup.setup);
</script>

