/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header{
    background: #007bff;
    width: 100%;
    top:0;
}
html {
    margin: 0 auto;
}
body {
    background-color: gainsboro;
}
#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form {
    display: grid;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.flashMessage {
    background-color: darksalmon;
    color: white;
    margin: 1em 0;
    padding: 4px;
}

.popup {
    /* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
    background: darkolivegreen;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 2ex;
    border: 2px double grey;
}

.alert {
    position: fixed;
    margin-top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.padded-form{
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
}

.dash-buttons{
    display: flex;
    flex-direction: row;
}

.main-buttons{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-basis: 33%;
}
.my-rooms{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-basis: 33%;
}

.open-rooms{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-basis: 33%;
}

@media screen and(max-width: 750px){
    .dash-buttons{
        flex-direction: column;
    }
}

