// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.w3-panel {
  height: 200px;
  width: 75%;
  transform: translate(16%);
  background-color: #4CAF50;
}
#card-table {
  display: block;
  overflow-x: auto;
}