// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, .App, .base-room{
  height: 100%;
}

.App {
  display: flex;
}

.base-room {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 2
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
}

.center-panel{
  display: flex;
  flex-direction: column;
  flex: 4;
}

.top-center-panel {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
}

.middle-center-panel {
  display: flex;
  height: 50%;
  width: 100%;
}

.bottom-center-panel {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  justify-content: space-around;
}

.blank-card {
  padding: 8% 4%;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.25);
}

.playing-card {

}