// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//html, body, .App, .base-room{
//  height: 100%;
//}


.base-room {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

#room-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

#game-actions{
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
}

#dangerous-game-actions{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
}

.center-panel{
  display: flex;
  flex-direction: column;
  flex: 4;
}

.top-center-panel {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  align-content: center;
}

.middle-center-panel {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.draw-discard{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;

}

.piles {
  display: flex;
  flex-direction: column;
  flex: 5;
}

.piles-top {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  padding: 3% 1% 1%;

}

.piles-bottom {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  padding: 1% 1% 3%;

}

.bottom-center-panel {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  justify-content: space-around;
}

.blank-card {
  padding: 8% 5%;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.25);

}


.w3-panel {
  height: 210px;
  width: 75%;
  transform: translate(16%);
  background-color: #4CAF50;
}
#card-table {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  height: 210px;
  width: 95%;
  transform: translate(2.5%)
}